@import "../variables.scss";

.product{
    &__new{
        position: relative;
        font-size: 1.3rem;
        color: $color-primary;
        font-weight: 500;
        transform: translate(85%,10px);
    }
    &__image{
        width: 100%;
        height: auto;
    }
    &__title{
        font-size: 1.5rem;
        color: $color-titles;
        margin: 5px 0;
    }
    &__price{
        font-size: 1.7rem;
        font-weight: 900;
        color: $color-primary;
        margin: 5px 0;
    }
}