@import "../variables.scss";
.payment{
    &__title{
        font-size: 2.0rem;
        text-align: center;
        text-transform: uppercase;
        margin: 35px 0;
    }
    &__total{
        font-size: 1.6rem;
        color: $color-primary;
        text-align: center;
        margin: 15px 0;
        &::before{
            content: 'Total: ';
            color: $color-oscuro;
        }
    }
    &__products {
        font-size: 1.6rem;
        color:green;
        text-align: center;
        margin: 15px 0;
        &::before{
            content: 'Products: ';
            color: $color-oscuro;
        }
    }
    &__button{
        width: 80%;
        margin : 50px auto;
        position: relative;
        z-index: 0;
        &__alternative{
            background-color: $color-primary;
            color: $color-claro;
            padding: 10px;
            font-size: 1.5rem;
            width: 60%;
            margin: 25px auto;
            display: block;
            border: none;
            border-radius: 10px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    &__error{
        font-size: 1.8rem;
        color: red;
        text-align: center;
    }
}